# R files
.Rhistory
.RData
.Ruserdata

# RStudio
.Rproj.user/

# Operating system files
.DS_Store
Thumbs.db

# Original/restricted course data
*.ped
*.map

# PLINK temporary/output files
*.log
*.nosex
